.container.projects-container
	.row.heading
		.col.s12
			h2 Projects
	.row.project1
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper
							i.material-icons developer_board
							| Gravitational Waves
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| Jan - Apr (2014)
		.col.s12
			.project-details1
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons title
							span Project Title
						p.details Gravitational Wave Signal Detection And Source Reconstruction Using A Network Of Advanced LIGO Detectors
						.valign-wrapper
							i.material-icons description
							span Project Abstract
						p.details Gravitational Waves (GW) was one of the earliest predictions of Einstein's General Theory of Relativity. They are ripples created in spacetime due to the motion of an object which changes the curvature of spacetime. If the object accelerates, the changes in curvature (ripples) propagate at the speed of light. GW promises to provide information about black holes and other interesting objects which can shed light on the early development stages of the Universe. GW detection is quite challenging due to very small amplitudes which results in noise from various sources overwhelming the signal and hence a need for an extremely sensitive detector. The aim of the project is to simulate a signal (unknown) buried in LIGO noise, generate a template signal (known) and correlate them to maximize the Signal-to-Noise Ratio (SNR) to find out if the unknown signal satisfies the criteria of a GW. This is called Matched Filtering.
					.col.s12.m2.center
						img(src=cdn + "/academics/projects/ligo/ligo.png")
						a.waves-effect.waves-light.btn(href=cdn + "/academics/projects/ligo/project-report-ligo.pdf" download="Project-Report-Ligo-Nishank-Jain")
							i.material-icons.left file_download
							| Report
	.row.project3
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper
							i.material-icons developer_board
							| I'm Shipping Up To Boston on MATLAB
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| Mar (2013)
		.col.s12
			.project-details3
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons title
							span Project Title
						p.details Generate an audio track using a series of harmonic notes modulated by an ADSR envelope in MATLAB
						.valign-wrapper
							i.material-icons description
							span Project Abstract
						p.details Sound synthesizers use an envelope generator to modulate a sound's intrinsic parameters such as amplitude, frequency etc. This envelope can be implemented in the form of a hardware module similar to those used in synthesizer keyboards or as a software module like the one I have implemented in this project. Attack Decay Sustain Release (ADSR) is the most widely used envelope with its many variants. Using a very basic ADSR envelope, I have generated pure-tone, harmonic and a somewhat-pleasant-to-hear sample versions of the defining track of the movie "The Departed" called "I'm Shipping Up To Boston" by "Dropkick Murphys". The nicer version can be tried below and other versions are available in the downloadable zip as MATLAB code.
						.valign-wrapper.audio-playback
							i.material-icons audiotrack
							audio(controls="controls") Your browser does not support the <code>audio</code> element.
								source(src=cdn + "/academics/projects/music/shippinguptoboston.wav" type="audio/wav")
					.col.s12.m2.center
						img(src=cdn + "/academics/projects/music/shippinguptoboston.png")
						a.waves-effect.waves-light.btn(href=cdn + "/academics/projects/music/shippinguptoboston.zip" download="Matlab-Code-I'm-Shipping-Up-To-Boston-Nishank-Jain")
							i.material-icons.left file_download
							| Code
	.row.project2
		.col.s12
			.card.white-text
				.row
					.col.s12.m8.place
						p.valign-wrapper
							i.material-icons developer_board
							| Health Care With RFID
					.col.s12.m4
						p.valign-wrapper.dates
							i.material-icons date_range
							| Oct - Nov (2012)
		.col.s12
			.project-details2
				.row
					.col.s12.m10
						.valign-wrapper
							i.material-icons title
							span Project Title
						p.details RFID based Health Care System – Database Management
						.valign-wrapper
							i.material-icons description
							span Project Abstract
						p.details Radio-frequency Identification and Detection (RFID) is the use of a wireless non-contact system that uses radio-frequency electromagnetic fields to transfer data from a tag attached to an object to an RFID reader, for the purposes of automatic identification and tracking. The tag's information is stored electronically in a non-volatile memory. The RFID tag includes a small RF transmitter and receiver. An RFID reader transmits an encoded radio signal to interrogate the tag. The tag receives the message and responds with its identification information. This may be the tag's unique serial number, product-related information such as a stock number, lot or batch number, production date, or other specific information. The aim of this project is to develop an experimental system using RFID to store a person’s medical history, provide methods to add this information to a database and make it easily accesible and editable on periodic visits to a healthcare professional.
					.col.s12.m2.center
						img(src=cdn + "/academics/projects/healthcare/rfid.svg")
						a.waves-effect.waves-light.btn(href=cdn + "/academics/projects/healthcare/project-report-health-care.pdf" download="Project-Report-Healthcare-RFID-Nishank-Jain")
							i.material-icons.left file_download
							| Report