.container.connect-container
	.row
		.col.s2.offset-s1
			.github.icon
				a.tooltipped(href="//github.com/nishankjain" data-position="top" data-delay="50" data-tooltip="GitHub")
					img(src=cdn + "/social/github.png")
		.col.s2
			.linkedin.icon
				a.tooltipped(href="//www.linkedin.com/in/nishankjain10" data-position="top" data-delay="50" data-tooltip="LinkedIn")
					img(src=cdn + "/social/linkedin.png")
		.col.s2
			.facebook.icon
				a.tooltipped(href="//www.facebook.com/NishankJain10" data-position="top" data-delay="50" data-tooltip="Facebook")
					img(src=cdn + "/social/facebook.png")
		.col.s2
			.twitter.icon
				a.tooltipped(href="//twitter.com/nj_whysoserious" data-position="top" data-delay="50" data-tooltip="Twitter")
					img(src=cdn + "/social/twitter.png")
		.col.s2
			.instagram.icon
				a.tooltipped(href="//www.instagram.com/_nishankjain" data-position="top" data-delay="50" data-tooltip="Instagram")
					img(src=cdn + "/social/instagram.png")