html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		meta(name='description', content='#{description}')
		title #{title}
		link(rel='shortcut icon', href=cdn + 'images/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href=cdn + 'styles/ion.rangeSlider.css')
		link(rel='stylesheet', href=cdn + 'styles/ion.rangeSlider.skinNice.css')
		link(rel='stylesheet', type='text/css', href=cdn + 'styles/all.css')
	body.pushmenu-push
		.fixed-menu.mobile
			span.phoneNumber
				img(src=cdn + 'images/contact-wapp.png', style='height:25px;display:inline-block;margin-right:0px;margin-left:-5px;vertical-align:middle;', alt='wapp')
				|  +91 9999 999 999
			a.logo-fixed(href="")
				img.logo(src=cdn + 'images/logo.png', alt='Courtside')
			ul
				a(href='#howItWorks')
					li How it works
				a(href='#requestForm')
					li New Request +
				a(href='#partners')
					li Our network
				li(onclick="window.open('https://medium.com/@courtside_in');") Blog
		.fixed-mobile-header.mobile
			span.logo-fixed
				button.menuIcon.cmn-toggle-switch.cmn-toggle-switch__htra
					span toggle menu
				img.logo(src=cdn + 'images/logo.png', alt='Courtside', onclick='scrollToTop()')
		ul#mobile-menu
			a(href='#howItWorks', tabindex='-1')
				li How it works
			a(href='#requestForm', tabindex='-1')
				li New Request +
			a(href='#partners', tabindex='-1')
				li Our network
			li(onclick="window.open('https://medium.com/@courtside_in');") Blog
		span.phoneNumber-permanent.mobile
			img(src=cdn + 'images/contact-call.png', style='height:55px;display:inline-block;margin-right:0px;margin-left:-2px;vertical-align:middle;margin-right:10px;', alt='wapp')
			| 24x7
		.fold.intro.mobile
			.outer
				.middle
					.inner
						img.logoOriginal(src=cdn + 'images/logooriginal.png', alt='courtside', style='width:150px;padding-bottom:80px;')
						h1.title.mobile(style='margin-bottom:0px;') Book and Play
						span.underline.mobile(style='width:100px;margin-top:20px;margin-bottom:20px;')
						br
						a.main-cta(href='#requestForm') Book Now
		#howItWorks.fold.contact.mobile
			.howitworks-wrapper(style='z-index:0')
				h1.headingMain Easiest way to kickstart your game
				span.underline(style='border-color:#888;margin:0px auto 50px auto;')
				.addWhiteSpace.mobile
					.cell.cell-1
						h1(style='margin-top:0px;text-align:centre;padding:0px 20px 10px 20px;font-size:16px;')
							| Ask for a ground whether you're in the office or on-the-go thanks to all the ways of reaching us.
						span.underline.mobile.hide(style='width:120px;margin-top:0px;margin-bottom:60px;')
						ul.contactOptions
							li#emailForm
								img(src=cdn + 'images/contact-email.png', alt='email', style='background:#ed6567;')
								.pulse
								| Web request
								br
								b Book now 
								span.arrow-right
							li#callExternal
								img(src=cdn + 'images/contact-call.png', alt='call', style='background:#f39c12;')
								.pulse
								| Call us at
								br
								b +91 9999 999 999
							li#whatsappClick.mobile(opentab='whatsappInfo')
								img(src=cdn + 'images/contact-wapp.png', alt='wapp', style='background:#0f9d58;')
								.pulse
								| Whatsapp us
								br
								b Know more
								span.arrow-right
							li#facebookClick(onclick="window.open('https://www.facebook.com/courtside.in');")
								img(src=cdn + 'images/contact-fb.png', alt='fb', style='background:#5e75a9;')
								.pulse
								| Facebook message
								br
								b Book now 
								span.arrow-right
					.cell.cell-2
						h1(style='margin-top:0px;text-align:centre;padding:0px 20px 10px 20px;font-size:16px;')
							| We get back to you with the available ground, and even if they are all full, we find you the closest options to choose.
						img(src=cdn + 'images/blank-option.jpg', alt='options')
						img(src=cdn + 'images/check-option.jpg', alt='selected option')
						img(src=cdn + 'images/blank-option.jpg', alt='options')
					.cell.cell-3
						h1(style='margin-top:0px;text-align:centre;padding:0px 20px 10px 20px;font-size:16px;') You give us a go ahead to confirm your booking, and pay directly to the ground.
						img(src=cdn + 'images/mail-confirmation.png', alt='email')
						h1(style='margin-top:0px;padding:20px 20px 0px 20px;font-size:14px;') Confirmation on message and email
					#whatsappInfo.cell.biggerCell.hide
						span.Whatsapp-number
							| Whatsapp us
							br
							| 9999999999
						img(src=cdn + 'images/Nexus-6-demo.jpg', alt='whatsapp screen demo')
						img(src=cdn + 'images/Nexus-6-demo-2.jpg', alt='whatsapp screen demo')
						span.closeButton
			.featureList-wrapper.hide
				.shadow-divider.mobile
					img(src=cdn + 'images/shadow-bottom.png', alt='shadow-bottom')
		#requestForm.fold.requestForm.mobile
			h1.headingMain BOOKING DETAILS
			span.underline(style='border-color:#888;margin:20px auto 20px auto;')
			.registrationForm(style='margin:auto;width:80%;display:block;')
				.errorMsg
				br
				input.mediumLength.teamName(default-text='Name', value='Name')
				input.mediumLength.phoneNumber(default-text='Mobile number (without +91 or 0)', value='Mobile number (without +91 or 0)', maxlength='10')
				input.mediumLength.emailId(default-text='Email Address', value='Email Address')
				br
				span.position-wrapper
					span.heading Sport
					span.dropdown-wrapper.sports
						ul.dropdown-active.dropdown-this(role='button', tabindex='0')
							li.active.always(value='default') Select sports
							li(value='football') Football
							li(value='badminton') Badminton
							li(value='tt') Table Tennis
							li(value='tennis') Tennis
							li(value='cricket') Cricket
							li(value='swimming') Swimming
				span.position-wrapper
					span.heading Area(s)
					span.dropdown-wrapper.area
						ul.dropdown-area(role='button', tabindex='0')
							li#populate-option.active.always(value='default', style='background:#fff;') Select area
							li.exclusive(value='East Bangalore', style='border-top:1px solid #bbb;border-bottom:1px dashed #bbb;margin-top:-2px;') East Bangalore
							li(value='Whitefield') Whitefield
							li(value='Sarjapur') Sarjapur
							li(value='Marthahalli') Marathalli
							li(value='Bellandur') Bellandur
				span.position-wrapper
					span.heading Date
					span.dropdown-wrapper.date
						ul.dropdown-date.dropdown-this(role='button', tabindex='0')
				.time-slider-wrapper
					span.heading(style='display:inline-block;margin-bottom:20px;') Select time range:
					span.selectedTime 5pm - 12am
					input#range_44(type='text', name='example_name', value='')
					input#rangeValues(name='timingRange', value='17-24', type='text', hidden='')
				br
				span.position-wrapper
					span.heading.mobile Game duration
					span.dropdown-wrapper.date
						ul.dropdown-duration.dropdown-this(style='bottom:0px;top:auto;', role='button', tabindex='0')
							li.default.active(value='1') 1 hour
							li(value='1.5') 1.5 hour
							li(value='2') 2 hour
							li(value='2.5') 2.5 hour
							li(value='3') 3 hour
				span.position-wrapper
					span.heading.mobile Book multiple courts?
					span.dropdown-wrapper.date(style='width:120px')
						ul.dropdown-courts.dropdown-this(style='width:100px;bottom:0px;top:auto;', role='button', tabindex='0')
							li.default.active(value='1') 1
							li(value='2') 2
							li(value='3') 3
							li(value='4') 4
							li(value='5') 5
				br
				.successMsg
					span We will be back
					small Message sent successfully
				button#tournamentRegist.submitButton Send request
			.sendStatuscover.hide
		#partners.fold.partners.mobile
			h1.headingMain OUR NETWORK
			span.underline(style='border-color:#ddd;margin:20px auto 20px auto;')
			h1(style='font-size:16px;margin:0px auto 80px auto;font-family:SansLt;text-align:center;color:#eee;')
				| The best sports network in the area connecting the largest number of grounds. We always get back to you with an available ground.
			ul.clr.nextRow.nextRowVer.categories
				li.menuItem
					.active(sportsearch='football')
						h1
							| Football
							span.underline
				li.menuItem
					.active(sportsearch='badminton')
						h1
							| Badminton
							span.underline
				li.menuItem
					.active(sportsearch='volleyball')
						h1
							| Volleyball
							span.underline
				li.menuItem
					.active(sportsearch='cricket')
						h1
							| Cricket
							span.underline
				li.menuItem
					.active(sportsearch='tennis')
						h1
							| Tennis
							span.underline
				li.menuItem
					.active(sportsearch='swimming')
						h1
							| Swimming
							span.underline
				li.menuItem
					.active(sportsearch='table_tennis')
						h1
							| Table Tennis 
							span.underline
			ul.clr.categories
				each ground in grounds
					if ground.city === 'Bengaluru'
						-availableSports = []
						each sport in ground.sports
							-availableSports.push(sport.slug)
						li
							.ground-tile(sports=availableSports.join(','))
								a(href=betaUrl + ground.slug)
									img(src=cdn + 'images/arenas/' + ground._id + '/cover.jpg')
									h1.small #{ground.name}
									p #{ground.area}
		.fold.footer.mobile
			.email-wrapper
				.email-right
					small Like what you see? Subscribe to our updates
					span.underline.hide(style='border-color:#fff;margin:10px 20px 10px 0px;width:auto;')
					br
					input.mediumLength.name-touch(placeholder='Name', value='', name='fullName')
					input.mediumLength.emailId-touch(placeholder='Your email address', value='')
					button#subscribeSubmit.main-cta Submit
				.email-left
					img.zombie.hide(src=cdn + 'images/zombie.png', alt='zombie')
					small
						| We are constantly evolving to give you the best service possible, and we absolutely devour any feedback we get.
						br
						span.underline(style='border-color:#fff;margin:10px auto 10px auto;width:100%;')
						b Yes, we are feedback ZOMBIES! Feed us at
					span.emailId
						img.smallZombie(src=cdn + 'images/zombie.png', alt='zombie')
						a(href='mailto:brains@courtside.in', target='_blank') brains@courtside.in
			span.companyName.mobile
				h1 Can we be friends?
				a(href='https://www.facebook.com/courtside.in', target='_blank')
					img(src=cdn + 'images/facebook.png', alt='fb')
				a(href='https://twitter.com/courtside_in', target='_blank')
					img(src=cdn + 'images/twitter.png', alt='tweet')
				a(href='https://plus.google.com/b/114428004593147002318/114428004593147002318/posts/p/pub', target='_blank')
					img(src=cdn + 'images/google.png', alt='google')
				span.innerSection.hide
					| An initiative by   
					b Courtside Sports Technologies Pvt. Ltd.
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src=cdn + 'lib/jquery.transit.min.js')
		script(src=cdn + 'lib/ion.rangeSlider.min.js')
		script(src=cdn + 'scripts/all.js')